<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
          {{- $baseurl := .Site.BaseURL -}}
          {{- $logo := printf "%v%s" $baseurl .Site.Params.Sidebar.logo -}}
          <img src="{{- $logo -}}">
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>شیرازلاگ</h3>
          </div>
          <ul class="link-list">
            {{ range .Site.Params.Navbar.Menu }}
            <li>
              <a href="{{ .url }}">
                <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                {{ .title }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>تماس با ما</h3>
          </div>
          <ul class="link-list">
            {{ range .Site.Params.Footer.Social }}
            <li>
              <a href="{{ .url }}" target="_blank">
                <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                {{ .title }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <!-- <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>کپی رایت</h3>
          </div>
          <ul class="link-list">
            <li>
              <a>
                <span class="icon"><i class="fa fa-copyright"></i></span>
                {{ .Site.Params.footer.copyright }}
              </a>
            </li>
          </ul>
        </div>
      </div> -->

    </div>
  </div>
</footer>