{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
<meta charset="utf-8" />

<meta id="Viewport" name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Meta Description -->
<meta name="description" content="{{ .Description }}"> 

<!-- Meta Keywords -->
<meta name="keywords" content='{{ delimit .Keywords ", " }}' /> 

<!-- OpenGraph Info -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}"/>
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:locale" content="fa">
{{ if .Params.og_image }}
<meta property="og:image" content="https://shirazlug.ir{{ .Params.og_image | relURL }}"/>
<meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}"/>
{{ else }}
<meta property="og:image" content="https://shirazlug.ir{{ .Site.Params.og_image | relURL }}"/>
<meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}"/>
{{ end }}
<meta property="og:type" content="website"/>

<!-- Twitter Card -->
<meta name="twitter:site" content="{{ .Site.Params.sitename }}">
{{ if .Params.og_image }}
<meta property="twitter:image" content="https://shirazlug.ir{{ .Params.og_image | relURL }}"/>
{{ else }}
<meta property="twitter:image" content="https://shirazlug.ir{{ .Site.Params.og_image | relURL }}"/>
{{ end }}
{{ template "_internal/twitter_cards.html" . }}
