{{- define "main" -}}
{{- $baseurl := .Site.BaseURL -}}
{{- $page404    := .Site.Params.pagNotFound }}
{{- $title      := index $page404 "title" }}
{{- $subtitle   := index $page404 "subtitle" }}
{{- $image      := printf "%v%s" $baseurl .Site.Params.pagNotFound.image }}
<section class="hero is-fullheight is-default is-bold">
  {{/* partial "navbar.html" . */}}
  {{/* partial "navbar-clone.html" . */}}
  <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5 is-offset-1 landing-caption">
            <h1 class="title is-2 is-bold is-spaced">
              {{ $title }}
            </h1>
            {{- with $subtitle -}}
            <h2 class="subtitle is-5 is-muted">
              {{ . }}
            </h2>
            {{- end -}}
          </div>

          <div class="column is-5 is-offset-1">
                <img src="{{- $image -}}" width="220px" alt="Myself">
          </div>
        </div>
      </div>
    </div>
  
  {{/* partial "hero-footer.html" . */}}
</section>
{{- end -}}